
.container {
	max-width: 1600px;
	padding: 1rem;
}


.title {
	text-align: center;
}

.filter-wrapper {
	margin: 35px 0;
}
.filter {
	max-width: 550px;
}


.filter-categorie {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.filter-label {
	padding-right: 15px;
}

.filter-search {
	display: flex;
    flex-direction: row;
    align-items: center;
	padding: 15px 0;
}

.filter-article {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 25px 0;
}

.filter-article-item:nth-child(2) {
	padding-left: 35px; 
}

.filter-article-choice {
	margin-left: 15px;
}

.search-btn{
	margin-left: 10px;
}

/* PAGE CONNEXION */
.form-connexion-item{
	margin: 0 auto;
	width: 300px;
}

.form-connexion {
	display: flex;
    flex-direction: column;
    max-width: 300px;
}

.container-connexion{
	display: flex;
    flex-direction: column;
}

.container-profil {
	width: 500px;
	margin: 0 auto;
}

